/artemis-rest/target/
/topicConsumer/target/
/topicProducer/target/
/topicDurableConsumer/target/
/topicSharedDurableConsumer/target/
/topicAMQPConsumer/target/
/amqBrowser/target/
/queueProducerTx/target/
/queueConsumerTx/target/
/queueProducerAsync/target/
/amqReplier/target/
/amqRequester/target/